{% extends 'base.html' %}

{% block title %}シフト承認{% endblock %}
{% block h1 %}シフト承認{% endblock %}
{% block content %}
<form action="{% url 'shift:authorize_detail' %}" method="post">
  {% csrf_token %}
  <input type="date" name="date_field" required="required">
  <input type="submit" value="Search">
</form>

<br>

{% if shift_list %}
  <table border="1">
    {% for shift in shift_list %}
    <tr>
      <td>{{ shift.user_id }}</td>
      <td>{{ shift.date }}</td>
      <td>{{ shift.start_time }}</td>
      <td>{{ shift.end_time }}</td>
      <td><button onclick="location.href='{% url 'shift:authorizeShift' shift.id %}'">承認</button></td>
    </tr>
    {% endfor %}
  </table>
{% else %}
<h2>{{ authorize_text }}<h2>
{% endif %}

{% endblock content %}
