{% extends 'base.html' %}

{% block title %}シフト承認{% endblock %}
{% block h1 %}シフト承認{% endblock %}
{% block content %}

<script type="text/javascript">
  window.onload = function () {
    var today = new Date();
    today.setDate(today.getDate());
    var yyyy = today.getFullYear();
    var mm = ("0" + (today.getMonth() + 1)).slice(-2);
    var dd = ("0" + today.getDate()).slice(-2);
    document.getElementById("today").value = yyyy + '-' + mm + '-' + dd;
  }
</script>

<form action="{% url 'shift:authorize_detail' %}" method="post">
  {% csrf_token %}
  <input type="date" id="today" name="date_field">
  <input type="submit" value="Search">
</form>

<br>

{% if shift_list %}
  <table border="1">
    {% for shift in shift_list %}
    <tr>
      <td>{{ shift.user_id }}</td>
      <td>{{ shift.date }}</td>
      <td>{{ shift.start_time }}</td>
      <td>{{ shift.end_time }}</td>
      <td><button onclick="location.href='{% url 'shift:authorizeShift' shift.id %}'">承認</button></td>
    </tr>
    {% endfor %}
  </table>
{% else %}
{{ authorize_text }}
{% endif %}

{% endblock content %}
