{% extends 'base.html' %}
{% block h1 %}シフト編集画面{% endblock %}
{% block content %}


<body>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css">
    <div id='calendar'></div>

    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>
    <script src="{% static 'shift/js/app.js' %}"></script>
</body>

<a href="{% url 'shift:delete' %}">シフトを削除する</a><br>

{% endblock %}
