{% extends 'base.html' %}

{% block title %}送信先選択{% endblock %}
{% block h1 %}送信先選択{% endblock %}
{% block content %}
<div class="exp">メッセージの送信先を選択してください。</div>
<div class="outer-block">
    <ul>
        {% for id,unread in dest_list %}
        <li><a href="/shift/history/{{id}}/" class="message-name">{{id}}</a><span class="unread-count">{{unread}}</span>
        </li>
        {% endfor %}
    </ul>


</div>

<style>
    body {
        height: 100%;
    }

    .outer-block {
        border: 5px solid rgb(0, 0, 0);
        width: 40%;
        margin: 0 auto;
        height: 50%;
    }

    a.message-name {
        color: rgb(0, 0, 0);
        border: 3px solid black;
        width: 100%;
        border-radius: 5px;
        padding-top: 2px;
    }

    a.message-name:hover {
        background-color: aqua;
    }

    li {
        font-family: 'Courier New', Courier, monospace;
        font-size: 50px;
        margin-left: 10%;
        font-weight: bold;
        margin-bottom: 20px;
        text-decoration: underline none;

    }



    .unread-count {
        color: aliceblue;
        text-align: center;
        display: block;
        float: right;
        width: 50px;
        height: 50px;
        margin-left: 100px;
        margin-right: 20%;
        background-color: rgb(32, 210, 71);
        border-radius: 50%;
    }

    .exp {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
</style>
{% endblock content %}