{% extends 'base.html' %}
{% block title %}メッセージ送信{% endblock %}
{% block h1 %}メッセージ送信{% endblock %}
{% block content %}
<!--head>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script></script>
</head-->
{% if messages %}
    {% for message in messages %}
        {% if message.indivisual_ID == user_id.id %}
            <p style="text-align:right">{{user_id.username}}</p>
            <p style="text-align:right">{{message.message}}</p>
            <!-- css適用するとき用 -->
            <!-- 自分の吹き出し -->
            <!--div class="message__right">
                <div class="message__right">
                <div class="name">{{message.indivisual_ID}}</div>
                <div class="text">{{message.message}}</div-->
                {% if message.read_status == 1 %}
                    <p style="text-align:right" class="date">既読<br>{{message.send_time}}</p>
                {% else %}
                    <p style="text-align:right" class="date">{{message.send_time}}</p>
                {% endif %}
            <!--/div-->
        {% else %}
            <p>{{dest_name}}</p>
            <p>{{message.message}}</p>
            <p>{{message.send_time}}</p>
            <!-- css適用するとき用？ -->
            <!-- 相手の吹き出し -->
            <!--div class="message__left">
                <div class="name">{{dest_name}}</div>
                <div class="text">{{message.message}}</div>
                <span class="date">{{message.send_time}}</span>
            </div-->
        {% endif %}
    {% endfor %}
{% endif %}
<form method="post">
    {% csrf_token %}

    {{ form.as_table }}
    <button type="submit">送信</button>
    </form>
{% endblock content %}