{% extends 'base.html' %}

{% block content %}
<h1 class="login-title"><span class="high-light">ログイン</span></h1>
<form method="post">
    {% csrf_token %}
    {% for error in form.errors.values %}
    {{error}}
    {% endfor %}
    <div class="container">
        <p><label>ユーザー ID</label>
            <input name="username">
        </p>
        <p><label>パスワード</label>
            <input type="password" name="password">
        </p>

        <p><button type="submit">ログイン</button></p>
    </div>
</form>

<style>
    .login-title {
        top: 20%
    }

    .container {
        border: 2px solid;
        text-align: center;
        width: 50%;
        margin: 0 auto 0 auto;
        font-size: 30px;
        border-radius: 10px;
    }

    .container input {
        font-size: 30px;
        border: 6px double rgb(17, 205, 61);
    }

    button {
        color: white;
        background-color: rgba(255, 145, 0, 0.7);
        font-size: 30px;
        font-weight: bold;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgb(0, 0, 0);
    }

    button:hover {
        background-color: rgba(255, 145, 0, 1.0);
        color: beige;
    }

    .errorlist li {
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 30px;
        color: red;
        font-weight: bold;
    }
</style>
{% endblock %}